n8n-workflow-retell-to-crm.json
{
  "name": "Retell AI → CRM Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "retell-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "operation": "equals",
              "value2": "call.ended"
            }
          ]
        }
      },
      "id": "filter-call-ended",
      "name": "Filter: Call Ended",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://crm-swart-ten-11.vercel.app/api/webhooks/retell",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "headers": {
            "headers": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-retell-signature",
                "value": "={{$node[\"Webhook Trigger\"].json[\"headers\"][\"x-retell-signature\"]}}"
              }
            ]
          }
        },
        "bodyParametersJson": "={{ $json }}"
      },
      "id": "send-to-crm",
      "name": "Send to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Webhook received and processed\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Event ignored\" } }}"
      },
      "id": "webhook-response-ignore",
      "name": "Webhook Response (Ignored)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Filter: Call Ended",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Call Ended": {
      "main": [
        [
          {
            "node": "Send to CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response (Ignored)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to CRM": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "retell-crm-integration",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}

